<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>BlogBuzz - Add your blog</title>
    <link rel="icon" type="png" href="https://media.istockphoto.com/id/1200899039/photo/one-like-social-media-notification-with-thumb-up-icon.webp?a=1&b=1&s=612x612&w=0&k=20&c=oAfH1-YEsng29b5S9OTs_WF4VRumWISXZDSS0uzhzio=">
</head>
<body>
    <%- include("./partials/nav") %>
    <div class="container mt-4">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" name="coverImage" class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
            </div>
            <div class="mb-3">
                <label for="title" name="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
            </div>
            <div class="mb-3">
                <label for="body" name="body" class="form-label">Body</label>
                <textarea name="body" class="form-control" id="floatingTextarea"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <%- include("./partials/scripts") %>
</body>
</html>